* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    height: 140vh;
}


/* ///////////// Header ///////////// */

.header {
    display: flex;
    background-color: deepskyblue;
    height: 125px;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
}

.pp_header {
    height: 100px;
    width: 100px;
    clip-path: circle();
    cursor: pointer;
}

.nav__icons .material-icons {
    font-size: 80px;
    color: white;
    cursor: pointer;
}

.nav_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.add_cas {
    height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 400px;
    border: 4px solid white;
    border-radius: 35px;
    font-size: 28px;
    font-weight: 800;
    color: white;
    cursor: pointer;
}

.add_cas .material-icons {
    font-size: 50px;
    font-weight: 600;
}

.add_cas:hover {
    background-color: rgba(175, 0, 0, 0.342);
}

.rechercher_par_categorie {
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-right: 100px;
}


/* ///////////// END ////////////// */


/* //////// MENU CATEGORIES /////////// */

.menu-container {
    display: flex;
    position: absolute;
    z-index: 4;
    height: 0vh;
    width: 0%;
    transition: 0.5s ease;
    visibility: hidden;
}

.open-menu-container {
    display: flex;
    position: absolute;
    z-index: 4;
    height: 140vh;
    width: 100%;
    transition: 0.5s ease;
    visibility: visible;
}

.nav_menu {
    background-color: rgb(255, 255, 255);
    height: 140vh;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.nav_link {
    margin-top: 5%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    gap: 40%;
    width: 100%;
    font-size: 25px;
    color: rgba(41, 41, 41, 0.863);
    cursor: pointer;
}

.nav_link .material-icons {
    font-size: 38px;
}

.sections {
    width: 100%;
}

.sections p {
    border: none;
    background-color: white;
    color: rgba(8, 8, 8, 0.719);
    font-weight: 600;
    width: 20%;
}

.nav_link:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.356);
    height: 60px;
}

.block_sombre {
    background-color: rgba(0, 0, 0, 0.508);
    height: 140vh;
    width: 75%;
}


/* ///////////// END ////////////// */


/* ///////////// Search ///////////// */

.search__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 200px;
}

.categories {
    background-color: rgba(167, 157, 157, 0.137);
    color: grey;
    border: none;
    border-radius: 10px 0px 0px 10px;
    height: 70px;
    width: 170px;
    font-size: 17px;
    cursor: pointer;
}

.categories:hover {
    background-color: rgba(105, 105, 105, 0.39);
}

.search__container [type=search] {
    border: none;
    background-color: rgba(101, 169, 192, 0.247);
    color: grey;
    height: 70px;
    width: 800px;
    font-size: 28px;
    padding-left: 13px;
}

.click_search {
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: deepskyblue;
}

.click_search .material-icons {
    color: white;
    font-size: 50px;
    cursor: pointer;
}


/* ///////////// END ////////////// */


/* //////// SUJETS DE DISCUSSION ////////// */

.discussion_topics {
    color: deepskyblue;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}

#dent_container {
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
}

.box {
    height: 300px;
    width: 200px;
    z-index: 0;
    background-color: rgba(128, 128, 128, 0.193);
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.dent_background {
    border-radius: 20px;
}

.pp_topics {
    z-index: 1;
    height: 50px;
    width: 90px;
    clip-path: circle();
    position: relative;
    right: 35px;
    bottom: 310px;
    cursor: pointer;
}

.blue_circle {
    position: relative;
    z-index: 2;
    bottom: 360px;
    left: 182px;
    background-color: rgb(26, 182, 255);
    height: 25px;
    width: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    clip-path: circle();
}


/* ///////////// END ////////////// */


/* //////// CAS CLINIQUES ////////// */

.tri {
    background-color: white;
    border: 1px solid;
    height: 45px;
    width: 250px;
    margin-left: 10%;
    font-size: 18px;
    padding-left: 7px;
    color: rgb(88, 86, 86);
}

.clinique_topics {
    margin-top: 40px;
    color: deepskyblue;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}

#card-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.card {
    background-color: bisque;
    height: 500px;
    width: 440px;
    border-radius: 20px;
    border: 1px solid deepskyblue;
    z-index: -1;
}

.dent-moche {
    background-color: blue;
    height: 50%;
    border-radius: 20px 20px 0px 0px;
}

.description-dent-moche {
    background-color: white;
    height: 50%;
    border-radius: 0 0 20px 20px;
    display: flex;
    padding: 10px 20px 5px 20px;
    flex-direction: column;
    justify-content: space-around;
}

.dent-moche img {
    border-radius: 20px 20px 0px 0px;
    z-index: 0;
}

.bulle-container {
    display: flex;
    position: relative;
    margin-left: 10px;
    gap: 10px;
    bottom: 35px;
}

.bulle-bleu {
    background-color: deepskyblue;
    height: 2.5vh;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    z-index: 3;
}

.bulle-bleu p {
    color: white;
}

.star_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 279px;
    left: 389px;
    border: 1px solid deepskyblue;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: white;
}

.star_logo .material-icons {
    font-size: 35px;
    color: deepskyblue;
}

.info-container {
    background-color: white;
    height: 50px;
    display: flex;
}

.description-dent-moche h2 {
    color: rgba(8, 6, 6, 0.726);
}

.description-dent-moche p {
    color: rgba(8, 6, 6, 0.644);
    font-weight: 550;
}

.info-profil {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
}

.info-profil p {
    font-size: 13px;
    color: rgba(8, 6, 6, 0.493);
}

.info-profil img {
    clip-path: circle();
}

.comments {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 22%;
    gap: 21px;
}

.comments .material-icons {
    color: deepskyblue;
    font-size: 40px;
}


/* /////////// END //////////// */